<p-card header="List of users" [style]="{width:'fit-content'}">
    <p-messages key="delete"/>
    <p-messages key="reject"/>
    <ng-container>
        <p-confirmDialog [style]="{width:'20wv'}"/>

        <p-table [value]="users">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>username</th>
                    <th>firstname</th>
                    <th>lastname</th>
                    <th>email</th>
                    <th> created at</th>
                    <th>roles</th>
                    <th>actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>{{user.userId}}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.firstname | titlecase}}</td>
                    <td>{{ user.lastname | titlecase}}</td>
                    <td>{{ user.email }}</td>
                    <td> {{user.createAt}} </td>
                    <td>
                        <span *ngFor="let role of user.roles">
                            {{role.role}}
                        </span>
                    </td>
                    <td>
                        <button class="btn">
                            <i class="fa fa-pencil" style="color: mediumturquoise" (click)="onUpdate(user)"></i>
                        </button>
                        <button class="btn">
                            <i class="fa fa-trash" style="color: red" (click)="onDelete(user.userId)"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</p-card>